.header {
    z-index: 10;
    background-color: #303C6C;
    background-size: cover;
    background-position: center;
    color: #FFF;
    height: 5vh;
}

.header1 {
    background-color: #303C6C;
    background-size: cover;
    background-position: center;
    color: #FFF;
    height: 30vh;
}

.body {
    margin-top: -2%;
}

.body1 {
    margin-top: -3%;
}

.card {
    height: 100%;
}

.center {
    align-items: center;
    text-align: center;
}

.form {
    margin-bottom: 9%;
}

.noDecorations {
    text-decoration: none;
}